@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MY';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYYeongnamnu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0; padding: 0;
    font-family: "pretendard";
}

a {
    text-decoration: none;
    color: #2b2b2b;
}

/* ------------------------------------ */

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: bisque;
    z-index: 10000;
}

#logo {
    position: absolute;
    bottom: 16px;
    left: 40px;
    font-family: MY;
    font-size: 36px;
}

#navimenu {
    display: flex;
    position: absolute;
    bottom: 16px;
    right: 16px;
    padding-right: 10px;
    font-size: 18px;
}

#navimenu a {
    margin: 0 10px;
    color: #2b2b2b;
}

#navimenu a:link {
    text-decoration: none;
}

#navimenu a:hover {
    text-decoration: underline;
    color: olive;
}

/*-------------------------------------*/

#main-container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 60px;
}

#ogamdo {
    position: relative;
    width: 100%;
}

#ogamdo img {
    width: 100%;
}

#text {
    position: relative;
    font-family: "pretendard";
    padding-top: 32px;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
}

#isang {
    padding-top: 60px;
    text-align: center;
    font-size: 18px;
}

/*-------------------------------*/
@media screen and (max-width: 1024px) {
    #header {
        height: 100px;
    }

    #logo {
        left: 50%;
        transform: translateX(-50%);
        bottom: 42px;
        padding: 0;
        justify-content: center;
    }

    #navimenu {
        left: 50%;
        transform: translateX(-50%);
        bottom: 12px;
        padding: 0;
        justify-content: center;
    }

    #main-container {
        width: 90%;
        padding-top: 150px;
    }

    #main-text {
        font-size: 16px;
    }

    #isang {
        padding-top: 40px;
    }
}