@font-face {
    font-family: notojp;
    src: url(notosansjp.ttf);
}

@font-face {
    font-family: notokr;
    src: url(notosanskr.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0; padding: 0;
    font-family: "notojp";
    background-color: #000;
}

a {
    text-decoration: none;
    color: #b5b5b5;
}

/* ------------------------------------------ */

#gif_backgruond {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #000;
    object-fit: cover;
    animation: fadeOut 0.7s 3.0s forwards; /* 3.0초 후 0.7초 동안 페이드 아웃 애니메이션 */
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}


#logo_gif {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 50%;
    object-fit: cover;
    z-index: 10000;
    animation: fadeOut 0.7s 2.7s forwards; /* 2.7초 후 0.7초 동안 페이드 아웃 애니메이션 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#header {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding-left: 36px;
    padding-right: 36px;
    background-color: #000;
    z-index: 9998;
}

#logo_sm {
    position: absolute;
    bottom: 22px;
    width: 119px;
    height: 36px;
}

#navimenu {
    display: flex;
    position: absolute;
    margin: 0;
    padding: 0;
    gap: 40px;
    right: 36px;
    font-size: 20px;
    font-weight: 400;
    text-align: 100%;
}

#navimenu p {
    margin: 0 0px;
}

#navimenu a:link {
    text-decoration: none;
}

#navimenu a:hover {
    text-decoration: none;
    color: #F2285A;
}

#idol_mv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#blur {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 60%;
}

#logo_yoasobi {
    position: absolute;
    width: 498px;
    height: 144px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* ------------------------------------------ */

#main_container {
    position: relative;
    width: 1096px;
    margin: 0 auto;
    margin-top: 80px;
}

#pic_profile {
    width: 100%;
}

.title {
    font-size: 44px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-top: 80px;
    line-height: 100%;
}

#profile_text {
    font-family: "notokr";
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    letter-spacing: -2.5%;
    line-height: 160%;
    margin-top: 40px;
}

.line {
    position: relative;
    width: 100%;
    border-top: 2px solid #F2285A;
}

.member {
    width: 1096px;
    margin-top: 40px;
}
.member_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 40px;
    margin-top: 80px;
}

.text_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 20px;
}

.member_title {
    font-family: "notokr";
    font-size: 36px;
    font-weight: 300;
    color: #fff;
    line-height: 100%;
}

.member_body {
    font-family: "notokr";
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    line-height: 160%;
}

#footer {
    background-color: #282828;
    color: #fff;
    text-align: center;
    padding: 40px;
    font-family: "notokr";
    font-size: 16px;
    font-weight: 300;
    line-height: 100%;
    margin-top: 200px;
}