@font-face {
    font-family: notojp;
    src: url(notosansjp.ttf);
}

@font-face {
    font-family: notokr;
    src: url(notosanskr.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0; padding: 0;
    font-family: "notokr";
}

a {
    text-decoration: none;
    color: #b5b5b5;
}

/* ------------------------------------------ */

#logo_gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10000;
    animation: fadeOut 0.7s 3.0s forwards; /* 3.0초 후 0.7초 동안 페이드 아웃 애니메이션 */
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#header {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding-left: 36px;
    padding-right: 36px;
    background-color: #000;
    z-index: 9999;
}

#logo_sm {
    position: absolute;
    bottom: 22px;
    width: 119px;
    height: 36px;
}

#navimenu {
    display: flex;
    position: absolute;
    margin: 0;
    padding: 0;
    gap: 40px;
    right: 36px; /*1848 기준 36, 100% 기준 108*/
    font-size: 20px;
    font-weight: 500;
    text-align: 100%;
}

#navimenu p {
    margin: 0 0px;
}

#navimenu a:link {
    text-decoration: none;
}

#navimenu a:hover {
    text-decoration: none;
    color: #F2285A;
}

#idol_mv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 동영상의 비율을 유지하면서 부모 요소에 맞게 조정 */
    z-index: -1; /* 다른 요소들이 동영상 위에 오도록 설정 */
}

#blur {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 60%;
}

#logo_yoasobi {
    position: absolute;
    width: 498px;
    height: 144px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}