@font-face {
    font-family: Pretendard;
    src: url("fonts/PretendardVariable.ttf");
}

body {
    margin-left: 36px; margin-right: 36px; padding: 0;
    font-family: "Pretendard";
    background: var(--Background, #000);
}

#header {
    display: flex;
    width: 1848px;
    height: 150px;
    padding: 36px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#logo {
    color: var(--Primary, #F0245E);
    text-align: center;

    /* Head1 */
    font-family: Pretendard;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px; /* 130% */
}

#head_img {
    margin-top: 88px;
    margin-left: 284px;
    margin-right: 284px;
    margin-bottom: 88px;
}

.title {
    display: flex;
    width: 1280px;
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-8, 8px);
    margin-left: 284px;
    margin-right: 284px;

    color: var(--Text, #FFF);
    text-align: center;
    
    /* Title1 */
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 72px; /* 150% */
}

#body1_text {
    display: flex;
    width: 1280px;
    height: 160px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: 284px;
    margin-right: 284px;
    margin-bottom: 88px;
    
    color: var(--Text, #FFF);
    text-align: center;

    /* Body2 */
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: -0.5px;
}

.content_1 {
    display: inline-flex;
align-items: flex-start;
gap: 40px;
}

.text1 {
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
}

.name1 {
    color: var(--Text, #FFF);
text-align: center;

/* Body1 */
font-family: Pretendard;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 50.4px; /* 140% */
}

.body2_text {
    display: flex;
width: 556px;
height: 260px;
padding: 20px 0px var(--Spacing-16, 16px) 0px;
align-items: flex-start;
gap: var(--Spacing-8, 8px);
border-top: 2px solid var(--Primary_Line, #F0245E);

color: var(--Text, #FFF);

/* Body2 */
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
letter-spacing: -0.5px;
}

.content_2 {
    display: inline-flex;
align-items: flex-start;
gap: 40px;
}

.name2 {
    display: flex;
height: 331px;
flex-direction: column;
align-items: flex-start;
gap: 20px;

color: var(--Text, #FFF);
text-align: center;

/* Body1 */
font-family: Pretendard;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 50.4px; /* 140% */
}

.body3_text {
    display: flex;
height: 260px;
padding: 20px 0px var(--Spacing-16, 16px) 0px;
align-items: flex-start;
gap: var(--Spacing-8, 8px);
flex-shrink: 0;
border-top: 2px solid var(--Primary_Line, #F0245E);

color: var(--Text, #FFF);

/* Body2 */
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
letter-spacing: -0.5px;
width: 556px;
height: 224px;
}

.album_container {
    display: flex;
width: 1280px;
justify-content: center;
align-items: center;
gap: var(--Spacing-8, 8px);
}

.album_text_container {
    display: flex;
width: 290px;
flex-direction: column;
align-items: center;
gap: var(--Spacing-8, 8px);
}

.album1_text {
    color: var(--Text, #FFF);
text-align: center;

/* Body3 */
font-family: Pretendard;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 33.6px; /* 140% */
letter-spacing: -0.6px;
}

.label1 {
    color: var(--Text, #FFF);
text-align: center;

/* Body2 */
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
letter-spacing: -0.5px;
}